<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NUMS_NUM_NUMS" value="100000"/>
		<add key="PrintList" value="false"/>
		<add key="NUMBER_ITERATIONS" value="5"/>
		<add key="PrintToFile" value="true"/>
		<add key="Filename" value="C:\Users\Owner\SortCompare100000.txt"/>
	</appSettings>

	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>